<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Event Banner Generator</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>

<body>
    <div class="tabs">
        <button class="tab-button" onclick="openTab('generate')">Generate Image</button>
        <button class="tab-button" onclick="openTab('history')">View History</button>
    </div>

    <div id="generate" class="tab-content">
        <div class="container">
            <h1>Text To Image Generator</h1>
            <input type="text" id="prompt" placeholder="Describe your event (e.g., Luxury Tech Conference 2025)">
            <button id="generate-button" onclick="generateImage()">Generate Image</button>
            <p id="loading-message" style="display: none;">Generating image... Please wait.</p>
            <div id="image-container"></div>
        </div>
    </div>

    <div id="history" class="tab-content" style="display:none;">
        <div class="container">
            <h1>Image History</h1>
            <button id="history-button" onclick="fetchHistory()">Load Previous Images</button>
            <p id="history-loading-message" style="display: none;">Loading images... Please wait.</p>
            <div id="history-container"></div>
        </div>
    </div>

    <script src="{{ request.url_for('static', path='script.js') }}?v={{ range(1000, 9999) | random }}"></script>
</body>

</html>